# Compiled class files
*.class

# Eclipse project files
*.log
*.tmp
*.bak
*.swp
*~

# Build output folders
/bin/
/out/
/target/

# VS Code
.vscode/

# IDE settings
*.iml
.idea/
.project
.classpath
.settings/

# Arquivos gerados
mensagens.txt
AllMsgs.csv
FullFill.txt
